/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    background-color: #000000;
    box-shadow: 3px 1px 3px #17171711;
    color: white;
    margin: 0;
    padding: 20px;
}
#results {
    margin-top: 20px;
    padding: 20px;
}
#results p, #results a {
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 3px 1px 3px #ccc;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
}
#results p:hover {
        transition: 0.5s;
        transform: scale(1.0);
        box-shadow: 0 0 30px #ccc;
}
#results a:hover {
    background-color: #ddd;
}
